<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="ie ie9">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <!-- Mobile Specific Metas
        +++++++++++++++++++++++++++ -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="{{ asset('img/favico.ico') }}">

        <link rel="apple-touch-icon" href="img/apple_icons_57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple_icons_72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple_icons_114x114.png">

        <title>{% block title %}Samuel Berthelot Photographie{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,400italic,600italic,700italic' rel='stylesheet' type='text/css'> 
            {% stylesheets
                'css/bootstrap.css'
                'css/theme.css'
                'css/plugins.css'
                'css/responsive.css'
                'css/theme_settings.css'
                'css/skin.css'
                'css/color_theme.css'
                'css/fs_gallery.css'
                'css/custom.css'
                filter='cssrewrite'        
            %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" >
            {% endstylesheets %} 
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        <!--[if IE 8 ]>
        <link rel="stylesheet" type="text/css" href="css/ie_css.css">
        <script>
            var e = ("article,aside,figcaption,figure,footer,header,hgroup,nav,section,time").split(',');
            for (var i = 0; i < e.length; i++) {
                document.createElement(e[i]);
            }		
        </script>
        <![endif]-->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    </head>
    <body class="fullscreen_layout">        
        <header class="">            
            <div class="header_wrapper container">                               
                <nav style="float: left">                              
                    <ul class="pull-left">
                        <li>                            
                            <a href="{{ path('PhotographPhotoBundle_home') }}" class="logo">
                                <img src="{{ asset('img/logo.png') }}" alt="Samuel Berthelot Photographie" class="brand logo_def" width="125" height="39" /></a>
                        </li>
                    </ul>
                </nav>
                {% block navigation %}
                <nav>
                    <ul class="menu">
                        <li class="current-menu-parent"><a href="{{ path('PhotographPhotoBundle_home') }}">ACCUEIL</a> </li>
                        <li><a href="{{ path('PhotographPhotoBundle_portfolio') }}">PORTFOLIO</a>
                          <ul class="sub-menu">
                                <li><a href="{{ path('PhotographPhotoBundle_portfolio_post_angelique_et_pierre') }}">Angélique et Pierre</a></li>                                
                                <li><a href="{{ path('PhotographPhotoBundle_portfolio_post_maud_et_fabrice') }}">Maud et Fabrice</a></li>   
                                <li><a href="{{ path('PhotographPhotoBundle_portfolio_post_landscapes') }}">Paysages</a></li>   
                               <!-- <li><a href="{{ path('PhotographPhotoBundle_portfolio_post_portraits') }}">Portraits</a></li>   -->
                            </ul>
                        </li>                        
                        <li><a href="{{ path('PhotographPhotoBundle_prestations') }}">PRESTATIONS</a></li>
                        <li><a href="{{ path('PhotographPhotoBundle_about') }}">A PROPOS</a></li>                        
                        <li><a href="{{ path('PhotographPhotoBundle_contact') }}">CONTACT</a>
                        <li><a href="{{ path('PhotographPhotoBundle_faq') }}">FAQ</a></li>
                        </li>
                    </ul>                               
                    <!-- .menu -->
                    <div class="clear"></div>
                </nav>
                {% endblock %}
            </div>
        </header>


        {% block body %}{% endblock %}

             {# {% block footer %}
                                Symfony2 blog tutorial - created by <a href="https://github.com/dsyph3r">dsyph3r</a>
                {% endblock %} #}



        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>            

            {% javascripts                
                'js/theme.js'                   
                'js/sorting.js'
                'js/jquery.isotope.min.js'  
                'js/masonry.pkgd.min.js'
            %}
        <script src="{{ asset_url }}"></script>
            {% endjavascripts %}       

        {% block javascripts %}  

        {% endblock %}
    </body>
</html>